/* Remember Fonts 

font-family: 'Josefin Slab', serif;
font-family: 'Vollkorn', serif;
font-family: 'Leckerli One', cursive;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;

*/

/* Page Layout */

body {
	background-color: #feffff;
	color: #f9a620
}



/* Change Headlines */

h1 {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 36px;
	color: #fa8bf2;
}

